/* DSEG7 7SEG */

@font-face {
  font-family: 'DSEG7-7SEGG';
  src: url('/_app/immutable/assets/DSEG7SEGGCHAN-Regular.73e20186.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7SEGGCHAN-Regular.9de0935a.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7SEGGCHAN-Regular.d8303b19.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG7-7SEGG-MINI';
  src: url('/_app/immutable/assets/DSEG7SEGGCHANMINI-Regular.7d231b46.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7SEGGCHANMINI-Regular.439bde8a.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7SEGGCHANMINI-Regular.5a58e63b.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* DSEG7 Classic */

@font-face {
  font-family: 'DSEG7-Classic';
  src: url('/_app/immutable/assets/DSEG7Classic-Bold.ec2e7499.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7Classic-Bold.5e5f0884.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7Classic-Bold.d16181c4.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG7-Classic';
  src: url('/_app/immutable/assets/DSEG7Classic-BoldItalic.2ecdad41.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7Classic-BoldItalic.7718815f.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7Classic-BoldItalic.92a2031f.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Classic';
  src: url('/_app/immutable/assets/DSEG7Classic-Italic.383af6b9.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7Classic-Italic.1c05c438.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7Classic-Italic.ac657e84.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Classic';
  src: url('/_app/immutable/assets/DSEG7Classic-Light.149b8e1c.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7Classic-Light.e0bbb364.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7Classic-Light.8f6bf9cb.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG7-Classic';
  src: url('/_app/immutable/assets/DSEG7Classic-LightItalic.a72c4206.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7Classic-LightItalic.21106703.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7Classic-LightItalic.9e839412.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Classic';
  src: url('/_app/immutable/assets/DSEG7Classic-Regular.8a61b7db.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7Classic-Regular.fcff68b9.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7Classic-Regular.e3270928.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* DSEG7 Classic MINI */

@font-face {
  font-family: 'DSEG7-Classic-MINI';
  src: url('/_app/immutable/assets/DSEG7ClassicMini-Bold.59b9d286.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7ClassicMini-Bold.af470432.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7ClassicMini-Bold.df024da2.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG7-Classic-MINI';
  src: url('/_app/immutable/assets/DSEG7ClassicMini-BoldItalic.8f75b77f.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7ClassicMini-BoldItalic.7b4b4630.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7ClassicMini-BoldItalic.70ce94da.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Classic-MINI';
  src: url('/_app/immutable/assets/DSEG7ClassicMini-Italic.ef90f912.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7ClassicMini-Italic.2ec6b77b.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7ClassicMini-Italic.87e03590.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Classic-MINI';
  src: url('/_app/immutable/assets/DSEG7ClassicMini-Light.6c5190ea.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7ClassicMini-Light.82188352.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7ClassicMini-Light.6aa32eb9.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG7-Classic-MINI';
  src: url('/_app/immutable/assets/DSEG7ClassicMini-LightItalic.80f385e8.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7ClassicMini-LightItalic.f06fb113.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7ClassicMini-LightItalic.f5309a31.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Classic-MINI';
  src: url('/_app/immutable/assets/DSEG7ClassicMini-Regular.af5483a5.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7ClassicMini-Regular.3e1dadc7.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7ClassicMini-Regular.1a9103b6.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* DSEG7 Modern */

@font-face {
  font-family: 'DSEG7-Modern';
  src: url('/_app/immutable/assets/DSEG7Modern-Bold.05eab701.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7Modern-Bold.8543824e.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7Modern-Bold.1997414d.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG7-Modern';
  src: url('/_app/immutable/assets/DSEG7Modern-BoldItalic.118af69f.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7Modern-BoldItalic.ae982194.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7Modern-BoldItalic.85a6a54c.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Modern';
  src: url('/_app/immutable/assets/DSEG7Modern-Italic.e5b6891d.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7Modern-Italic.c1007cf7.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7Modern-Italic.b4529a4d.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Modern';
  src: url('/_app/immutable/assets/DSEG7Modern-Light.f93dec79.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7Modern-Light.877b7d41.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7Modern-Light.1a342d59.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG7-Modern';
  src: url('/_app/immutable/assets/DSEG7Modern-LightItalic.70e9e746.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7Modern-LightItalic.8f98d3bb.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7Modern-LightItalic.988655e4.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Modern';
  src: url('/_app/immutable/assets/DSEG7Modern-Regular.3ea4cfd8.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7Modern-Regular.392045c9.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7Modern-Regular.ca80947f.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* DSEG7 Modern MINI */

@font-face {
  font-family: 'DSEG7-Modern-MINI';
  src: url('/_app/immutable/assets/DSEG7ModernMini-Bold.602841d5.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7ModernMini-Bold.856e984d.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7ModernMini-Bold.f35ad775.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG7-Modern-MINI';
  src: url('/_app/immutable/assets/DSEG7ModernMini-BoldItalic.839a537b.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7ModernMini-BoldItalic.6975a940.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7ModernMini-BoldItalic.968e1225.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Modern-MINI';
  src: url('/_app/immutable/assets/DSEG7ModernMini-Italic.03cff486.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7ModernMini-Italic.8827728c.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7ModernMini-Italic.ace0260f.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Modern-MINI';
  src: url('/_app/immutable/assets/DSEG7ModernMini-Light.391f10ba.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7ModernMini-Light.a517164e.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7ModernMini-Light.83437817.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG7-Modern-MINI';
  src: url('/_app/immutable/assets/DSEG7ModernMini-LightItalic.20a6f9b7.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7ModernMini-LightItalic.15c05024.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7ModernMini-LightItalic.ff5df9ed.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Modern-MINI';
  src: url('/_app/immutable/assets/DSEG7ModernMini-Regular.436fdfce.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG7ModernMini-Regular.3e81fe5f.woff') format('woff'),
  url('/_app/immutable/assets/DSEG7ModernMini-Regular.4e5890bf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* DSEG14 Classic */

@font-face {
  font-family: 'DSEG14-Classic';
  src: url('/_app/immutable/assets/DSEG14Classic-Bold.a73df6e6.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14Classic-Bold.0ff6e4d7.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14Classic-Bold.10755549.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG14-Classic';
  src: url('/_app/immutable/assets/DSEG14Classic-BoldItalic.16817617.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14Classic-BoldItalic.c67b051a.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14Classic-BoldItalic.a769ad2e.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG14-Classic';
  src: url('/_app/immutable/assets/DSEG14Classic-Italic.26fd1be9.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14Classic-Italic.7ffaad3f.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14Classic-Italic.bd65525b.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG14-Classic';
  src: url('/_app/immutable/assets/DSEG14Classic-Light.5b311891.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14Classic-Light.4ae17725.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14Classic-Light.0acbaa7c.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG14-Classic';
  src: url('/_app/immutable/assets/DSEG14Classic-LightItalic.e23adb3f.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14Classic-LightItalic.4637da79.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14Classic-LightItalic.ee1e519c.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG14-Classic';
  src: url('/_app/immutable/assets/DSEG14Classic-Regular.327c24d5.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14Classic-Regular.220a5819.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14Classic-Regular.0106818d.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* DSEG14 Classic MINI */

@font-face {
  font-family: 'DSEG14-Classic-MINI';
  src: url('/_app/immutable/assets/DSEG14ClassicMini-Bold.3c22ede9.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14ClassicMini-Bold.c14c4a60.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14ClassicMini-Bold.db94adef.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG14-Classic-MINI';
  src: url('/_app/immutable/assets/DSEG14ClassicMini-BoldItalic.a356c674.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14ClassicMini-BoldItalic.5572e3c5.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14ClassicMini-BoldItalic.2eac12b5.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG14-Classic-MINI';
  src: url('/_app/immutable/assets/DSEG14ClassicMini-Italic.0790cc3d.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14ClassicMini-Italic.79635a10.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14ClassicMini-Italic.576ba15b.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG14-Classic-MINI';
  src: url('/_app/immutable/assets/DSEG14ClassicMini-Light.a47e88de.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14ClassicMini-Light.990828e6.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14ClassicMini-Light.23ecb6d8.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG14-Classic-MINI';
  src: url('/_app/immutable/assets/DSEG14ClassicMini-LightItalic.d8adcd64.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14ClassicMini-LightItalic.bf45bd54.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14ClassicMini-LightItalic.a75172ce.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG14-Classic-MINI';
  src: url('/_app/immutable/assets/DSEG14ClassicMini-Regular.930584b5.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14ClassicMini-Regular.57fd22a1.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14ClassicMini-Regular.fe156bdd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* DSEG14 Modern */

@font-face {
  font-family: 'DSEG14-Modern';
  src: url('/_app/immutable/assets/DSEG14Modern-Bold.7d5b08c7.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14Modern-Bold.5d9dcdde.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14Modern-Bold.b7face6e.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG14-Modern';
  src: url('/_app/immutable/assets/DSEG14Modern-BoldItalic.05aa9eca.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14Modern-BoldItalic.9e1d9897.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14Modern-BoldItalic.11d4570b.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG14-Modern';
  src: url('/_app/immutable/assets/DSEG14Modern-Italic.c7a71846.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14Modern-Italic.f46becad.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14Modern-Italic.117524d4.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG14-Modern';
  src: url('/_app/immutable/assets/DSEG14Modern-Light.263f00db.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14Modern-Light.e5e3c8a3.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14Modern-Light.379bdf09.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG14-Modern';
  src: url('/_app/immutable/assets/DSEG14Modern-LightItalic.cc1fc483.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14Modern-LightItalic.a32f0a3e.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14Modern-LightItalic.144cada2.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG14-Modern';
  src: url('/_app/immutable/assets/DSEG14Modern-Regular.f75bb219.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14Modern-Regular.1c8777fe.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14Modern-Regular.db3925a0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* DSEG14 Modern MINI */

@font-face {
  font-family: 'DSEG14-Modern-MINI';
  src: url('/_app/immutable/assets/DSEG14ModernMini-Bold.1bfee8ac.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14ModernMini-Bold.9f98bac9.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14ModernMini-Bold.08916675.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG14-Modern-MINI';
  src: url('/_app/immutable/assets/DSEG14ModernMini-BoldItalic.aa0e4551.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14ModernMini-BoldItalic.f059e36d.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14ModernMini-BoldItalic.3b55b2e4.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG14-Modern-MINI';
  src: url('/_app/immutable/assets/DSEG14ModernMini-Italic.4bdc3b32.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14ModernMini-Italic.a988ad66.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14ModernMini-Italic.34e0f13d.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG14-Modern-MINI';
  src: url('/_app/immutable/assets/DSEG14ModernMini-Light.f05526d6.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14ModernMini-Light.d4ba1e29.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14ModernMini-Light.39b649f8.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG14-Modern-MINI';
  src: url('/_app/immutable/assets/DSEG14ModernMini-LightItalic.9706ce56.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14ModernMini-LightItalic.22950ec8.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14ModernMini-LightItalic.3fd36756.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG14-Modern-MINI';
  src: url('/_app/immutable/assets/DSEG14ModernMini-Regular.e3925004.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEG14ModernMini-Regular.4a366ccb.woff') format('woff'),
  url('/_app/immutable/assets/DSEG14ModernMini-Regular.da069355.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* DSEGWeather */

@font-face {
  font-family: 'DSEGWeather';
  src: url('/_app/immutable/assets/DSEGWeather.def18e6a.woff2') format('woff2'),
  url('/_app/immutable/assets/DSEGWeather.6e2a834e.woff') format('woff'),
  url('/_app/immutable/assets/DSEGWeather.7aa2787c.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


div.svelte-19750fx{display:flex;justify-content:center;-webkit-user-select:none;-moz-user-select:none;user-select:none;position:relative;min-width:1em;z-index:0}div.svelte-19750fx::before{z-index:-1;position:absolute;content:attr(data-content)}.canEdit.svelte-19750fx{color:slateblue;outline:2px dashed slateblue;border-color:slateblue}.canEdit[contenteditable="true"].svelte-19750fx:focus{color:lightseagreen;outline:2px solid lightseagreen;cursor:text}.svelte-wmcval.svelte-wmcval{--color-active:red;--color-inactive:tomato;--color-edit:slateblue;--color-disabled:gray;--color-paused:darkgoldenrod;--color-background:rgba(127, 127, 127, 0.25);-webkit-user-select:none;-moz-user-select:none;user-select:none}.display,.display::after,.display::before{font-family:'DSEG7-Classic'}.display{color:var(--color-inactive)}.display::after,.display::before{color:var(--color-background)}.display.canEdit{color:var(--color-edit)}.container.svelte-wmcval.svelte-wmcval{display:flex;flex-direction:column;justify-content:space-between}.teams.svelte-wmcval.svelte-wmcval{display:grid;grid-template-columns:1fr 1fr;justify-content:center;width:100%}img.svelte-wmcval.svelte-wmcval{min-height:1em;max-height:1em;min-width:1em;width:auto}.team.svelte-wmcval.svelte-wmcval{display:flex;justify-content:center}.clock.svelte-wmcval.svelte-wmcval{display:grid;grid-template-columns:1fr auto 1fr;font-size:10em}.clock.svelte-wmcval .min.svelte-wmcval{justify-self:end}.clock.svelte-wmcval .div.svelte-wmcval{justify-self:center}.clock.svelte-wmcval .sec.svelte-wmcval{justify-self:start}.team.svelte-wmcval.svelte-wmcval,.period.svelte-wmcval.svelte-wmcval,.clock.svelte-wmcval.svelte-wmcval{margin:0.25em;padding:0.25em;border-radius:var(--border-radius);border:var(--border);align-self:center;justify-self:center;width:auto;background-color:black;color:red;cursor:pointer}.team.svelte-wmcval.svelte-wmcval{display:flex;flex-direction:column;justify-items:center;align-items:center;font-size:6em}.period.svelte-wmcval.svelte-wmcval{font-size:4em}